body {
  font-family: "Rubik", sans-serif;
}
* {
  display: block;
}
* {
  box-sizing: border-box;
}
/* HEADER */
.header-container{
    width: 100%;
    max-width: 1440px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.rectangle22 {
width: 1440px;
height: 105px;
background-color: #F6F6F6;
display: flex;
align-items: center;
}
.group34 {
width: 1200px;
height: 45px;
display: flex;
justify-content: space-around;
align-items: center;
text-align: center;
}
.logo-div {
background-color: #fff;
width: 276px;
height: 45px;
}
.namanganliklar24 {
  color: #7296EE;
  text-decoration: none;
  width: 264px;
  height: 28px;
  text-transform: uppercase;
 font-weight: 700;
 font-size: 24px;
 line-height: 28.44px;
}
.frame45 {
  width: 158px;
  height: 19px;
  display: flex;
  list-style: none;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.96px;
  flex-grow: 1;
}
.rubl {
  margin-left: 16px;
}
.find {
  background-color: #fff;
  width: 275px;
  height: 45px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  left: 836px;
  top: 30px;
  margin-right: 20px;
  }
  .search-text {
    color: #8D8D8D;
    width: 42px;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.59px;
    margin-left: 10px;
  }
  .uz-ru-div {
    background-color: #DCE6FF;
    width: 70px;
    height: 36px;
    display: flex;
  }
  .uz-div {
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  .uz {
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.41px;
width: 16px;
height: 15px;

  }
  .ru {
width: 16px;
height: 15px;
color: #A6A6A6;
;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.41px;
  }
.exit {
  background-color: #7296EC;
  width: 89px;
  height: 45px;
  border-radius: 10px;
  padding: 13px 20px;
  margin-left: 20px;
}
.exit-text {
  color: #fff;
  width: 49px;
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.96px;
  text-decoration: none;
}
.menyu {
width: 1200px;
height: 41px;
border: 1px solid;
border: 1px solid #D1D1D1;
margin-top: 40px;
}
.navigation {
  width: 1200px;
  height: 21px;
  list-style: none;
display: flex;
justify-content: space-between;
margin: 0%;
padding: 0%;
}
.link {
  color: #7F7F7F;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.33px;
  text-align: center;
  text-decoration: none;
}

/* footer */
.footer-container {
  width: 100%;
  max-width: 1440px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
.footer {
  background-color: #7297EF;
  color: #fff;
  width: 1440px;
  height: 356px;
}
.footer-div {
  width: 1440px;
  height: 356px;
  display: flex;
  flex-direction: column;
}
.logo-div-footer {
  background-color: #7296EC;
}
.footer-logo {
  background-color: #7296EC;
  color: #FFFFFF;
  margin: 0%;
  margin-top: 40px;
}
.footer-logo-text {
  width: 229px;
  height: 95px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}
.ul-div {
  display: flex;
  padding-left: 150px;
}
.div-logo-ul {
  display: flex;
}
.ul-footer-link {
  width: 167px;
  height: 136px;
  list-style: none;
  margin: 0%;
  margin-top: 83px;
  padding: 0%;
}
.ul-footer-link-two {
  width: 250px;
  height: 120px;
  padding-left: 100px;
  box-sizing: content-box;
}
.foter-link {
  color: #fff;
  text-decoration: none;
margin-bottom: 20px;
}
.foter-link:last-child {

}
.hr-footer {
  width: 998px;
  height: 1px;
  color: #CECECE;
  margin: 0%;
  margin-top: 20px;
}
.div-sotsial {
  width: 998px;
  display: flex;
  justify-content: space-between;
}
.theme-social {
  width: 161px;
  height: 46px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0%;
  margin-top: 20px;
}
.ul-sotsial-icon {
  display: flex;
  list-style: none;
  margin-right: 0%;
  margin-bottom: 0%;
}
.sotsial-link {
  width: 25px;
  height: 25px;
margin-right: 30px;
}
.youtube {
  margin-right: 0%;
}
