:root {
  --brand-color: #D2D2D2;
  --border: 1px solid #00000020;
--background-color: #F6F6F6;
--font-family-text: "Rubik" sans;
--font-weight: 400;
--align-items: center;
--text-align: var(--align-items);
}

body {
display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-text);
  padding: 0%;
  margin: 0%;
}
/* Sticky footer tuzish */
/* html heidht 100% */
/* body heidht 100% */
/* main flex-grow 1 */
html {box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before
*::after {
  box-sizing: inherit;
}
* :focus {
  outline: 2px dashed var(--brand-color);
}

/* HEADER */
.header-container{
    width: 100%;
    max-width: 1440px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.rectangle22 {
width: 1440px;
height: 105px;
background-color: var(--background-color);
display: flex;
justify-content: flex-start;
align-items: var(--align-items);
}
.group34 {
width: 1200px;
height: 45px;
display: flex;
justify-content: space-between;
align-items: var(--align-items);
text-align: var(--text-align);
}
.logo-div {
  background-color: var(--background-color);
--background-color: #fff;
width: 276px;
height: 45px;
text-align: var(--text-align);
line-height: 45px;
}
.namanganliklar24 {
  color: #7296EE;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-weight);
--font-weight: 700;
font-size: 24px;
line-height: 28.44px;
}
.frame45 {
  height: 19px;
  display: flex;
  list-style: none;
  align-items: var(--align-items);
  font-weight: var(--font-weight);
--font-weight: 700;
  font-size: 16px;
  line-height: 18.96px;
  margin-right: 260px;

}
.rubl {
  margin-left: 16px;
}
.find-form {
  display: flex;
  justify-content: start;
  align-items: var(--align-items);
}
.find {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-right: 20px;
  padding-left: 40px;
  background-color: var(--background-color);
  --background-color: #fff;
  width: 275px;
  height: 45px;
  border: var(--border);
  --border: 0px;
  border-radius: 60px;
  display: flex;
  align-items: var(--align-items);
  margin-right: 20px;
  background-image: url(../img/search.svg);
background-repeat: no-repeat;
background-position: 15px center;
background-size: 20px;
  }
  .uz-ru-div {
    background-color: var(--background-color);
    --background-color: #DCE6FF;
    width: 70px;
    height: 36px;
    line-height: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: var(--align-items);
  }
  .uz-div {
    background-color: var(--background-color);
--background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0%;

  }
  .uz {
    color: #000000;
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 15.41px;
width: 16px;
height: 15px;

margin-left: 8px;
text-align: var(--text-align);
margin-top: 8px;
  }
  .ru {
width: 16px;
height: 15px;
color: #A6A6A6;
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 15.41px;
  }
.exit-text {
  color: #fff;
  width: 49px;
  height: 19px;
  font-weight: var(--font-weight);
  --font-weight: 500;
  font-size: 16px;
  line-height: 18.96px;
  text-decoration: none;
}
.menyu {
width: 1200px;
height: 41px;
border-bottom: 1px solid #D1D1D1;
margin-top: 40px;
margin-bottom: 50px;
}
.navigation {
  width: 1200px;
  height: 21px;
  list-style: none;
display: flex;
justify-content: space-between;
margin: 0%;
padding: 0%;
}
.link {
  color: #7F7F7F;
  font-weight: var(--font-weight);
  --font-weight: 500;
  font-size: 18px;
  line-height: 21.33px;
  text-align: var(--text-align);
  text-decoration: none;
}

/* footer */
.footer-container {
  width: 100%;
  max-width: 1440px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
.footer {
  background-color: #7297EF;
  color: #fff;
  width: 1440px;
  height: 356px;
}
.footer-div {
  width: 1440px;
  height: 356px;
  display: flex;
  flex-direction: column;
}
.logo-div-footer {
  background-color: #7296EC;
}
.footer-logo {
  background-color: var(--background-color);
  --background-color: #7296EC;
  color: #FFFFFF;
  margin: 0%;
  margin-top: 40px;
}
.footer-logo-text {
  width: 229px;
  height: 95px;
  font-weight: var(--font-weight);
  font-size: 12px;
  line-height: 19px;
}
.ul-div {
  display: flex;
  padding-left: 150px;
}
.div-logo-ul {
  display: flex;
}
.ul-footer-link {
  width: 167px;
  height: 136px;
  list-style: none;
  margin: 0%;
  margin-top: 83px;
  padding: 0%;
}
.ul-footer-link-two {
  width: 250px;
  height: 120px;
  padding-left: 100px;
  box-sizing: content-box;
}
.foter-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
margin-bottom: 20px;
}
.hr-footer {
  width: 998px;
  height: 1px;
  color: #CECECE;
  margin: 0%;
  margin-top: 20px;
}
.div-sotsial {
  width: 998px;
  display: flex;
  justify-content: space-between;
}
.theme-social {
  width: 161px;
  height: 46px;
  font-weight: var(--font-weight);
  --font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0%;
  margin-top: 20px;
}
.ul-sotsial-icon {
  display: flex;
  list-style: none;
  margin-right: 0%;
  margin-bottom: 0%;
}
.sotsial-link {
  width: 25px;
  height: 25px;
margin-right: 30px;
}
.youtube {
  margin-right: 0%;
}

/* hero */
main {
  width: 1200px;
  padding-left: 50px;
  flex-grow: 1;
}
.optimize1 {
  width: 1200px;
  height: 128px;
  border-radius: 8px;
  margin: 0%;
  margin-bottom: 50px;
}
.kards {
  display: flex;
  flex-wrap: wrap;
margin: 0%;
margin-bottom: 70px;
}
.kard {
  background-color: var(--background-color);
  width: 393px;
  height: 382px;
  border-radius: 15px;
  padding: 17px 15px;
  margin-right: 10px;
  margin-top: 10px;
}
.kard h3 {
  font-weight: var(--font-weight);
  --font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.kard p {
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}
.kard-img {
  width: 359px;
  height: 165px;
  border-radius: 10px;
  object-fit: cover;
}
.div-kard-script {
  width: 150px;
  height: 20px;
display: flex;
justify-content: center;
align-items: var(--align-items);
}
.div-kard1-script {
  width: 230px;
  height: 20px;
display: flex;
justify-content: start;
align-items: var(--align-items);
}

.kard-icon-img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
.kard-icon-p {
font-weight: var(--font-weight);
font-size: 12px;
line-height: 14.22px;
color: #5E5F61;

}
.div-kard-script p {
  height: 20px;
}
.group33 {
  display: flex;
  justify-content: space-around;
  align-items: var(--align-items);
  width: 1050px;
  height: 100px;
  border-radius: 15px;
  background-color: var(--background-color);
  --background-color: #eba501;
margin-left: 70px;
}

.button {
width: 149px;
height: 50px;
background-color: var(--background-color);
--background-color: #F78B3B;
color: #FFFFFF;
border: var(--border);
--border:  #F78B3B;
border-radius: 10px;
padding: 13px 30px;
}
.div-vmir {
  display: flex;
  flex-grow: 1;
}
.div-vmir1 {
  display: flex;
  background-color: var(--background-color);
width: 797px;
height: 205px;
margin-bottom: 10px;
margin-right: 10px;
}
.vmir-icon-div {
  margin-top: 16px;
}
.vmir-img {
  width: 210px;
  height: 165px;
  border-radius: 10px;
  margin: 20px 10px;
  object-fit: cover;
  }
.vmir-text h3 {
  font-weight: var(--font-weight);
  --font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}
.vmir-text p {
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  margin: 0%;
}
.div-glavnoe {
  width: 393px;
  height: 502px;
  border-radius: 15px;
  background-color: var(--background-color);
}
.div-glavnoe h2 {
  font-weight: var(--font-weight);
--font-weight: 500;
  font-size: 24px;
  line-height: 28.44px;
  color: #000000;
  margin: 0%;
padding-left: 15px;
padding-top: 15px;
}
.glavnoe-link {
  text-decoration: none;
  font-weight: var(--font-weight);
  --font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-top: 10px;
  display: inline-block;
}
.glavnoe-link:hover  {
  color: #7296EE;
}
.glavnoe-link:active  {
  opacity: 0.6;
}

.div-glavnoe p {
  font-weight: var(--font-weight);
  font-size: 13px;
  line-height: 15.41px;
  color: #5E5F61;
}
.glavnoe-child-div {
  width: 375px;
  height: 71px;
  margin: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  flex-grow: 1;
}
.hause-img {
  width: 393px;
  height: 338px;
  padding-top: 20px;
}
.show-more-div {
  padding-bottom: 50px;
}
.show-more {
  display: block;
  width: 796px;
  height: 53px;
  background-color: var(--background-color);
  --background-color: #EAEAEA;
  color: #000000;
  border: var(--border);
  --border: none;
  border-radius: 10px;
  padding: 17px 343px;
}
.button-block {
display: block;
width: 100%;
}

/* BLOG */
.blog-body {
background-image: url(../img/fon-img.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
.div-blog-fon-img {
  border-image: url(../img/fon-img@2x.jpg);
}
}
.div-blog-on {
  display: flex;
  flex-direction: column;
  align-items: var(--align-items);
  margin-right: auto;
  margin-left: auto;
  padding-top: 700px;
  padding-bottom: 700px;
}
.blog-h1 {
  display: inline-block;
font-weight: var(--font-weight);
font-size: 24px;
line-height: 29px;
letter-spacing: 2px;
color: #FFFFFF;
text-transform: uppercase;
padding: 0%;
margin: 0%;
margin-bottom: 20px;
}
.blog-button {
width: 175px;
height: 48px;
background-color: var(--background-color);
  --background-color: #1E90FF;
  display: flex;
  border: var(--border);
  --border: none;
  padding: 0px;

}
.blog-button-icon {
width: 20px;
height: 20px;
  display: inline-block;
}
.blog-button-span {
margin-left: 5px;
  font-weight: var(--font-weight);
font-size: 16px;
line-height: 24px;
letter-spacing: 2px;
color: #FFFFFF;
text-transform: uppercase;
}
.blog-button-text-img-div {
display: flex;
align-items: var(--align-items);
padding-top: 10px;
}

/* CONTACT HTML */

.contact-form {
  display: flex;
  margin-bottom: 100px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 696px;
  height: 431px;
  border-radius: 10px;
  border: var(--border);
--border: none;
}
.contact-form h2 {
  width: 173px;
  height: 28px;
  font-family: var(--font-family-text);
  font-weight: var(--font-weight);
  --font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 20px;
  margin: 0%;
}
.div-input-name {
  margin: 0%;
}
.input-field {
  width: 300px;
  border-radius: 10px;
  border: var(--border);
  background-color: var(--background-color);
  --background-color: #fff;
  padding: 18px 20px;
}

.form-groups-wrapper {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}
.form-groups-wrapper .div-input {
  width: calc( 50% -5px);
flex-grow: 1;
justify-content: space-between;
width: 50%;
}

.div-input-email {
  margin: 0%;
}
.input-email {
  width: 650px;
  border-radius: 10px;
  border: var(--border);
  background-color: var(--background-color);
  --background-color: #fff;
  padding: 18px 20px;
  margin-bottom: 10px;
}
.contact-textarea {
  width: 650px;
  height: 177px;
  border-radius: 10px;
  border: var(--border);
  background-color: var(--background-color);
  --background-color: #fff;
  padding: 18px 20px;
  min-height: 80px;
  margin-bottom: 10px;
  resize: vertical;
}
.form-div-button {
display: flex;
flex-direction: column;
width: 696px;
}
.form-submit {
align-self: flex-end;
  width: 145px;
  height: 53px;
  border: var(--border);
  --border: none;
  border-radius: 10px;
  padding: 17px 30px;
  background-color: #7297EF;
  color: #FFFFFF;
  font-family: var(--font-family-text);
  font-weight: var(--font-weight);
--font-weight: 500;
  font-size: 16px;
  line-height: normal;
}
.form-labels-wrapper {
width: 494px;
height: 310px;
border: var(--border);
--border: none;
border-radius: 10px;
background-color: var(--background-color);
margin-top: 20px;
margin-left: 10px;
}
.form-wrapper-legand {
color: #000;
font-family: var(--font-family-text);
font-size: 24px;
font-weight: var(--font-weight);
--font-weight: 500;
line-height: normal;
margin-top: 0%;
}
.form-labels-wrapper div:not(:last-child) {
  border-bottom: 1px solid var(--brand-color);
}
.div-label-span {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
}
.from-label {
  display: inline-block;
  color: #000;
  font-family: var(--font-family-text);
  font-weight: var(--font-weight);
  --font-weight: 500;
  font-size: 20px;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 7px;
}
.from-label:first-child {
margin-top: 40px;
}
.from-span {
  color: #000;
  font-family: var(--font-family-text);
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}
.adress {
  margin-bottom: 0%;
}